    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    /* mobile styles */
    @media only screen and (max-width: 414px) {
      body {
        background-color: #000000;
      }
    }

    /* tablet & desktop styles */
    @media only screen and (min-width: 415px) {
      body {
        background-color: #b2d6ff; /* blue */
        width: 414px;
      }
    }

    body {
      color: blue;
    }

    form {
      border-radius: 25px;
      border: 2px solid #73ad21;
      padding: 20px;
      background-color: #ffffff;
    }

    div {
      display: block;
    }

frameset legend {
   font-size: 9px:
}

h1 {
   color: black;
   font-size: 99px:
}
    p {
      font-size: 14px;
    }


    .buttonGeneral{
        background: lightgray;
          display: inline;
            margin-left: 8px;
              padding: 4px 8px;
                border-radius: 5px;
              }

              section {
                  border: none;
                    display: inline;
                      margin-left: 8px;
                        padding: 4px 8px;
                          width: 40px;
                            height: 40px
                          }

                          .start{
                            background: green;
                              width: 99px;

                            }

                            .silent{

                            }

                            .pause{

                            }

                            .skip{

                            }

                            .exit{

                            }

                            .back{

                            }

                            .play{

                            }

                            .up{

                            }

                            .down{

                            }

                            .back{

                            }

